* {
  margin: 0;
  padding: 0;
}

/** reset tags HTML5. */
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, menu {
  display:block;
}

body {
  background: url("../../assets/images/background.png");
}

header {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 20px 0;
}

h1 {
  font-size: 0;
  padding: 5px;
  text-align: center;
}

img {
  border: none;
}

#game {
  margin: 0 auto;
  width:512px;
}

canvas {
  width: 512px !important;
  height: 480px !important;
}
